{{ report_date_cn }}游戏盒PC云游戏数据
一、游戏盒PC云游戏相关数据日报
PC云游戏总并发峰值：{{ target.concurrency.formatted_peak_value }}，时间：{{ target.concurrency.peak_time_label }}。
PC云游戏总排队峰值：{{ target.queue.formatted_peak_value }}，时间：{{ target.queue.peak_time_label }}。
{{ target.queue_summary }}
[pc云游戏图片]

备注：
1、游戏的新增用户数为：{{ pc_notes.new_users_text }}，游戏的活跃用户数为：{{ pc_notes.active_users_text }}。
2、会员充值人数：{{ pc_member_summary.recharge_count_text }}，PC首开会员人数：{{ pc_member_summary.first_count_text }}，充值金额：{{ pc_member_summary.recharge_amount_text }}元，环比上周同期{{ pc_member_summary.week_trend_text }}。
{% if pc_warnings %}
备注：部分PC外部接口未取到数据 -> {{ pc_warnings | join('；') }}
{% endif %}

二、云游戏活跃用户top(去重)
{% if pc_top_games %}
| 游戏 | 活跃用户数 |
| :---: | :---: |
{% for item in pc_top_games %}
| {{ item.name }} | {{ item.active_users_text }} |
{% endfor %}
{% else %}
| 游戏 | 活跃用户数 |
| :---: | :---: |
| 暂未获取 | 暂未获取 |
{% endif %}
